<!DOCTYPE html>
<html lang="en">

<scaleToDevice>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="Thanks">
      <div class="div">
        <div class="overlap-group">
          <div class="ellipse"></div>
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
        </div>
          <img src="/static/ConTag Logo Black and Green lowlowres.png" alt="ConTag Logo Black and Green">
        <div class="text-wrapper">SUCCESS!</div>
          <div class="return"><a href="{{ url_for('index') }}">Return to the registration page</a></div>
        <p class="your-email-has">
          <span class="span">Your email has been received. </span>
          <br>
          <span class="text-wrapper-2"
            >You’ll be informed if a potential outbreak <br />has been predicted in your area
          </span>
        </p>
        <div class="confetti-container">
          <div class="confetti">
            <i class="triangle"></i>
            <i style="--speed: 1; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 18; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 29; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 17; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 33; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 26; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 24; --bg: #06a02b" class="triangle"> </i>
            <i style="--speed: 5; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 29; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 15; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 25; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 19; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 15; --bg: #06a02b" class="triangle"> </i>
            <i style="--speed: 31; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 25; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 18; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 32; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 23; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 35; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 34; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 36; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 33; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 38; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 28; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 17; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 32; --bg: #06a02b" class="triangle"></i>
            <i style="--speed: 23; --bg: #06a02b" class="triangle"> </i>
            <i style="--speed: 30; --bg: #06a02b" class="triangle"></i>
          </div>
        </div>
      </div>
  </body>

</scaleToDevice>
</html>