<!DOCTYPE html>
<html lang="en">

<scaleToDevice>
<div style='width:1000px;height:1000px'>
  
<head>
    <meta charset="UTF-8">
    <title>Join Mailing List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <img src="/static/ConTag Logo Black and Green lowlowres.png" alt="ConTag Logo Black and Green">
  
  <h1>Please enter your</h1>
  <div class="container">
    <div class="highlight">e-mail</div>
    <div class="cover"></div>
  </div>

  <br>
  
  <h2>to receive updates about </h2>
    <h2> outbreaks in your area</h2>

  <br><br>
  
    <form action="/add" method="post">
        <label><input name="email" type="email" placeholder="E-mail"></label>
        <br><br>
        <button>Submit</button>
    </form>
  
  
  <br><br><br><br>
  <div class="tri">◢</div>
</body>

</div>
</scaleToDevice>
  
</html>